Options -Indexes
AddDefaultCharset utf-8

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home(/?)$ index.php [L,QSA]
RewriteRule ^haqqimizda(/?)$ index.php?do=about [L,QSA]
RewriteRule ^videoqalereya(/?)$ index.php?do=videoqalereya [L,QSA]
RewriteRule ^albom(/?)$ index.php?do=albom [L,QSA]
    RewriteRule ^fotoqalereya/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=gallery&id=$2 [L,QSA]
RewriteRule ^pages/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=pages&menu_id=$2 [L,QSA]
RewriteRule ^xidmetler(/?)$ index.php?do=services [L,QSA]
	RewriteRule ^xidmet/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=service&id=$2 [L,QSA]
RewriteRule ^bolmeler(/?)$ index.php?do=sections [L,QSA]
    RewriteRule ^bolme/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=section&id=$2 [L,QSA]
RewriteRule ^info/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)(/?)$ index.php?do=bloq&type=$1 [L,QSA]
    RewriteRule ^xeber/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=xeber&id=$2 [L,QSA]
RewriteRule ^elaqe(/?)$ index.php?do=contact [L,QSA]


RewriteRule ^(az|en|ru|tr)(/?)$ index.php?get_lang_name=$1 [L,QSA]
RewriteRule ^(az|en|ru|tr)/home(/?)$ index.php?get_lang_name=$1 [L,QSA]
RewriteRule ^(az|en|ru|tr)/albom(/?)$ index.php?do=albom&get_lang_name=$1 [L,QSA]
    RewriteRule ^(az|en|ru|tr)/fotoqalereya/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=fotoqalereya&get_lang_name=$1&id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/pages/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=pages&get_lang_name=$1&menu_id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/xidmetler(/?)$ index.php?do=services&get_lang_name=$1 [L,QSA]
	RewriteRule ^(az|en|ru|tr)/xidmet/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=service&get_lang_name=$1&id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/bolmeler(/?)$ index.php?do=sections&get_lang_name=$1 [L,QSA]
    RewriteRule ^(az|en|ru|tr)/bolme/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=section&get_lang_name=$1&id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/metodlar(/?)$ index.php?do=methods&get_lang_name=$1 [L,QSA]
    RewriteRule ^(az|en|ru|tr)/metod/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=method&get_lang_name=$1&id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/info/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)(/?)$ index.php?do=bloq&get_lang_name=$1&type=$2 [L,QSA]
    RewriteRule ^(az|en|ru|tr)/xeber/([0-9a-zA-Züöğıəçşйцукенгшщзхъфывапролджэячсмитьбюё+_-]+)-([0-9]+)(/?)$ index.php?do=xeber&get_lang_name=$1&id=$3 [L,QSA]
RewriteRule ^(az|en|ru|tr)/elaqe(/?)$ index.php?do=contact&get_lang_name=$1 [L,QSA]


ErrorDocument 404 /